* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-color: #222;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-top: 10rem;
}

input{
    width: 15%;
    padding: 5px;
    background-color: #2f2828;
    color: whitesmoke;
    font-size: 25px;
    margin-bottom: 15px;
    border: none;
}

h1{
    font-size: 4rem;
    color: whitesmoke;
}
